---
import Hero from '../components/Hero.astro';
import Proyectos from '../components/Proyectos.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio Henry Maldonado">
  <main role="main">
    <Hero />
    <Proyectos />
  </main>
</Layout>