---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import SkillsBentoBox from '../components/SkillsBentoBox.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio Henry Maldonado">
  <main role="main">
    <Hero />
    <Projects />
    <SkillsBentoBox/>
    <About />
  </main>
</Layout>