---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from "./Icons/Linkedin.astro";
import GitHubIcon from "./Icons/GitHub.astro";
import MailIcon from "./Icons/Mail.astro";
import PfpCard from "./PfpCard.astro";
---

<div class=" realtive pt-44 z-10 w-full mx-6 lg:w-[1000px] lg:pt-64 mb-12 flex flex-col lg:flex-row items-center lg:items-start ">
  <div class="hidden lg:flex mr-4 lg:mr-8 -mt-9">
    <PfpCard/>
  </div>
  
  <article class="flex-1 lg:ml-8">
    <h1 class="text-white  text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-8">
      Hola soy Henry
    </h1>
    <h2 class="text-xl text-wrap mb-6 lg:mb-8">
      <span class="text-accent">Jr Fullstack Developer</span>, estudiante de último año de la carrera de Desarrollo
      de Software en la
      <span class="text-primary">Universidad Tecnológica de Panamá</span>.
      Me apasiona crear soluciones tecnológicas que generen un impacto significativo en personas y organizaciones.
    </h2>

    <nav class="flex flex-wrap gap-1 lg:gap-4">
      <SocialPill href="https://www.linkedin.com/in/henrymaldonado">
        LinkedIn
        <LinkedInIcon class="w-6 h-6" />
      </SocialPill>

      <SocialPill href="https://github.com/ELperrocode">
        GitHub
        <GitHubIcon class="w-6 h-6" />
      </SocialPill>

      <SocialPill href="mailto:henrymaldonadodev@gmail.com">
        Email
        <MailIcon class="w-6 h-6" />
      </SocialPill>
    </nav>
    
  </article>

</div>