---
import MoreProjectsBtn from "./MoreProjectsBtn.astro";
import ProjectCard from "./ProjectCard.astro";
---

<div class="w-full mx-auto lg:w-[1100px] px-4">
  <h2 class="text-3xl lg:text-4xl font-bold mb-8">Proyectos</h2>
  <div class="flex flex-col gap-8">
    <ProjectCard
      title="Project 1"
      imgSrc="https://github.githubassets.com/assets/social-2deb6d7d43e7.jpg"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien lorem ipsum dolor sit amet."
      repoLink="https://github.com/yourusername/project1"
      webLink="https://yourwebsite.com/project1"
    />
    <ProjectCard
      title="PROJECT 2"
      imgSrc="https://github.githubassets.com/assets/social-2deb6d7d43e7.jpg"
      description="Brief description of the project."
      repoLink="https://github.com/yourusername/project2"
    />
    <ProjectCard
      title="PROJECT 3"
      imgSrc="https://github.githubassets.com/assets/social-2deb6d7d43e7.jpg"
      description="Brief description of the project."
      repoLink="https://github.com/yourusername/project3"
      webLink="https://yourwebsite.com/project3"
    />
  </div>
  <div class="flex justify-end pt-8">
    <MoreProjectsBtn />
  </div>
</div>