<a
  {...Astro.props}
  
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center
   justify-center gap-2 px-2 py-2
    text-gray-400 transition
    bg-white/5 border border-gray-600 rounded-full
    focus-visible:ring-yellow-500/80 text-md

        hover:bg-gray-900
        hover:transform hover:scale-105
        hover:border-primary group max-w-fit
         hover:text-white 
          active:bg-accent active:border-accent "
>
  <slot />
</a>