---
import SectionContainer from "./SectionContainer.astro";
import ExperienceCard from "./ExperienceCard.astro";
---

<div class="mt-20 w-11/12 mx-4 lg:w-[1100px]">
  <section class="bg-white/5 p-6 lg:p-8 border border-white/20 backdrop-blur-0 rounded-lg transition-all ease-in-out duration-300 flex flex-col drop-shadow-2xl hover:shadow-[0_0_20px_1px_#e3dddc] hover:border-white hover:ring-black hover:ring-offset-2">
    <h2 class="text-3xl lg:text-4xl font-bold mb-8 text-white">Experiencia Laboral</h2>
    <div class="flex flex-col gap-8">
      <ExperienceCard
        image="LogoRootstack.jpg"
        position="Desarrollador Fullstack"
        company="Rootstack"
        date="Feb 2025 - Present"
        description="Responsable del desarrollo integral de aplicaciones web y empresariales, colaborando en equipos multidisciplinarios para clientes nacionales e internacionales. Participaci칩n activa en todas las fases del ciclo de vida del software, desde el an치lisis de requerimientos hasta la implementaci칩n y soporte, aplicando buenas pr치cticas de desarrollo fullstack."
      />
    </div>
  </section>
</div>
